Package: goosemod
Version: 1.0.3
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1
Maintainer: Nora <0J3@wafflepowered.com>
Description: An unofficial goosemod installer by 0J3#0001

This package installs and/or removes goosemod using a postinstall/prerm script.
Homepage: https://nora.lgbt/goto/gh/0J3/goosemodinstaller
Vcs-git: git://git@github.com:0J3/goosemodinstaller.git
Vcs-Browser: https://nora.lgbt/goto/gh/0J3/goosemodinstaller
