body{
  background:#1a1a1a !important;
  background:url(https://0j3.github.io/goosemodinstaller/src/electron/Tile.png) !important;
  background-size:20px !important;
  color:#fff !important;
}
.highlight > code {
  filter: invert() hue-rotate(180deg);
}
.highlight {
  background: #0005 !important;
}
.main-content pre {
  background: #0000 !important;
  color: #fff !important;
  border: solid 1px #242424;
}
.main-content code {
  color: rgb(162, 154, 143) !important;
  background-color: rgb(21, 23, 24) !important;
}
