body{
  background:#1a1a1a !important;
  background:url(https://0j3.github.io/goosemodinstaller/src/electron/Tile.png) !important;
  background-size:20px !important;
  color:#fff !important;
}
.highlight > code {
  filter:invert();
}
.highlight {
  background: #0005 !important;
}
.main-content pre {
  background: #0000 !important;
  color: #fff !important;
  border: solid 1px #242424;
}
